---
Checks: >
  -*,
  clang-diagnostic-*,
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  portability-*,
  modernize-*,
  readability-braces-around-statements,
  readability-container-size-empty,
  readability-duplicate-include,
  readability-inconsistent-declaration-parameter-name,
  readability-identifier-naming,
  readability-misleading-indentation,
  misc-include-cleaner,
  readability-redundant-control-flow,
  readability-redundant-declaration,
  readability-redundant-function-ptr-dereference,
  readability-redundant-member-init,
  readability-redundant-preprocessor,
  readability-redundant-smartptr-get,
  readability-redundant-string-cstr,
  readability-redundant-string-init,
  readability-simplify-boolean-expr,
  readability-static-accessed-through-instance,
  readability-static-definition-in-anonymous-namespace,
  -bugprone-easily-swappable-parameters,
  -bugprone-exception-escape,
  -bugprone-forwarding-reference-overload,
  -bugprone-throwing-static-initialization,
  -bugprone-use-after-move,
  -clang-analyzer-core.UndefinedBinaryOperatorResult,
  -clang-analyzer-cplusplus.Move,
  -clang-analyzer-cplusplus.PlacementNew,
  -clang-analyzer-optin.core.EnumCastOutOfRange,
  -clang-analyzer-security.ArrayBound,
  -modernize-avoid-c-arrays,
  -modernize-concat-nested-namespaces,
  -modernize-pass-by-value,
  -modernize-return-braced-init-list,
  -modernize-use-auto,
  -modernize-use-designated-initializers,
  -modernize-use-noexcept,
  -modernize-use-nodiscard,
  -modernize-use-ranges,
  -modernize-use-trailing-return-type,
  -performance-enum-size,
  -performance-for-range-copy,
  -performance-no-int-to-ptr,
  -performance-unnecessary-value-param,
  -portability-avoid-pragma-once,
  -portability-template-virtual-member-function
WarningsAsErrors: ''
ExtraArgsBefore: ['--driver-mode=cl', '-Qunused-arguments']
FormatStyle: file
CheckOptions:
  - key: misc-include-cleaner.MissingIncludes
    value: false
  - key: misc-include-cleaner.UnusedIncludes
    value: true
  - key: modernize-loop-convert.MinConfidence
    value: reasonable
  - key: modernize-use-nullptr.NullMacros
    value: 'NULL'
  - key: readability-braces-around-statements.ShortStatementLines
    value: '1'
  - key: readability-identifier-naming.GetConfigPerFile
    value: true
  - key: readability-identifier-naming.NamespaceCase
    value: lower_case
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.EnumCase
    value: CamelCase
  - key: readability-identifier-naming.EnumConstantCase
    value: CamelCase
  - key: readability-identifier-naming.FunctionCase
    value: lower_case
  - key: readability-identifier-naming.MethodCase
    value: lower_case
  - key: readability-identifier-naming.ParameterCase
    value: lower_case
  - key: readability-identifier-naming.LocalVariableCase
    value: lower_case
  - key: readability-identifier-naming.PrivateMemberCase
    value: lower_case
  - key: readability-identifier-naming.PrivateMemberPrefix
    value: m_
  - key: readability-identifier-naming.ProtectedMemberCase
    value: lower_case
  - key: readability-identifier-naming.ProtectedMemberPrefix
    value: m_
  - key: readability-identifier-naming.MacroDefinitionCase
    value: UPPER_CASE
